
.popUp {
    position: fixed;
    width: 75%;
    background-color: #dee0e6;
    left: 200px;
    top: 300px;
}

.popup-inner {
    display: flex;
}


.left_texField {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.right_txtField {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.add-btn {
    width: 120px;
    height: 40px;
    margin: 10px;
    background-color: rgb(240, 211, 85);
}

.close-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.img {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: white;
    margin-top: 5px;
    margin-left: 5px;
}