.customerList {
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgb(224, 234, 241);
}
.header {
    display: flex;
    flex-direction: row;
}
.h1 {
    display: flex;
}
.btn-add {
    position: absolute;
    right: 20px;
    top: 151px;
    background-color: rgb(0, 223, 0);
    display: flex;
    
}